"id": "{{ dataset.metadata.id|required('dataset[id]') }}",
"default": "{{ dataset.metadata.default }}",        
"description": "{{ dataset.metadata.description|e }}",
"label": "{{ dataset.metadata.label }}",
"how_to_cite": "{{ dataset.metadata.how_to_cite|e }}",
"image": "{{ dataset.metadata.image }}",
"attribution": "{{ dataset.metadata.attribution|e }}",
"update_frequency": "{{ dataset.metadata.update_frequency }}",
"doi": "{{ dataset.metadata.doi }}",
"publication_date": "{{ dataset.metadata.publication_date }}",
"contact": {
    "name": "{{ dataset.metadata.contact.name }}",
    "email": "{{ dataset.metadata.contact.email }}",
    "webpage": "{{ dataset.metadata.contact.webpage }}"
},
{% if dataset.metadata.license %}   
    "license": {
        "name": "{{ dataset.metadata.license.name }}",
        "url": "{{ dataset.metadata.license.url }}"
    },
{% endif %}              
{% if dataset.metadata.keywords %}  
"keywords": {{ dataset.metadata.keywords|to_json }},
{% endif %}              
{% if dataset.metadata.related_data %}  
"related_data":
[
    {%- for data in dataset.metadata.related_data -%}
        {
            "name": "{{ data.name }}",
            "url": "{{ data.url }}"
        }
    {{ ", " if not loop.last else "" }}
    {%- endfor -%}
],
{% endif %}   