{
    "version": "v1",
    "status": "OK",
    "dataset": {
        {%- if dataset is defined  -%}
            {% include 'basic_single_details.json.jinja2' %}
            "products":
            [
                {%- for prod_id, prod_metadata in dataset.products.items() -%}
                    {
                        "id": "{{ prod_id }}",
                        "description": "{{ prod_metadata.description }}"
                    }
                {{ ", " if not loop.last else "" }}
                {%- endfor -%}
            ]     
            }       
        {%- endif -%}
    },
    "widgets":
        [
            {%- for widget in widgets -%}
                {
                    "name": "{{ widget.name }}",
                    "label": "{{ widget.label }}",
                    "required": "{{ widget.required }}",
                    "parameter": "{{ widget.parameter }}",
                    "type": "{{ widget.type }}",
                    "help": "{{ widget.help }}",
                    "info": "{{ widget.info }}",
                    "details": {
                        "values": 
                        [
                            {%- for val in values -%}
                                {
                                    "values": "{{ val.value }}",
                                    "label": "{{ val.label }}"
                                }
                            "{{ ", " if not loop.last else "" }}"
                            {%- endfor -%}    
                        ]
                    }
                }
            {{ ", " if not loop.last else "" }}
            {%- endfor -%}        
        ],
    "widgets_order": [
        {%- for order in widgets_order -%}
        "{{ order}}" "
        {{ ", " if not loop.last else "" }}
        {%- endfor -%}
    ]
}